@model List<Course>

@{
}


<h2> 
    <i class="bi bi-book"></i>
    Courses
    </h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-success" asp-controller="Courses" asp-action="Create"><i class="bi bi-plus-lg"></i>New Course</a>
    </div>
    <div class="col">
    </div>

</div>


<table class="table">
    <thead>
        <tr>

            <th>Course Name</th>
            <th>Professor Name</th>
            <th>Update</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Name
                </td>
                <td>
                    @item.Professor.Name
                </td>
                <td style="white-space:nowrap">
                    <a class="btn btn-outline-warning btn-sm mb-5" asp-controller="Courses" asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-sm mb-5" asp-controller="Courses" asp-action="Details" asp-route-id="@item.CourseId">Details</a>

                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm mb-5" asp-controller="Courses" asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                </td>


            </tr>
        }
    </tbody>

</table>

